.settings-style {
	position: absolute;
	top: 1%;
	right: 1%;
	z-index: 1500;
}

.settings-style button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.settings-logo {
	display: flex;
	height: 8vh;
	position: relative;
	z-index: 1000;
}

.settings-open {
	display: flex;
	margin-right: 10px;
	padding-top: 5px;
	padding-right: 15px;
	background-color: rgba(239, 236, 251, 0.962);
	width: 200px;
	height: 250px;
	border-radius: 25px;
}

.settings-open ul {
	list-style-type: none;
}

.settings-open li {
	cursor: pointer;
	color: black;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: var(--font-family-text);
}
.settings-open li:hover {
	color: blue;
	cursor: pointer;
}
.submenu {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 100%;
}
.back-btn {
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
}
.setting-item {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.position-buttons button {
	font-size: 0.8rem;
	margin: 0 2px;
	cursor: pointer;
}
